/* .background {
  background: url('https://res.cloudinary.com/ds3y9nbdn/image/upload/v1667995036/jan-antonin-kolar-HB26V8IRL2k-unsplash_zb7sre.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */
